.header {
    background-color: #4b73b5;
    color: #ffffff;
    margin-bottom: 13px;
    font-weight: bold;
}

.header .container {
    height: 77px;
    align-items: center;
}

.logo__title {
    position: absolute;
    left: -9999px;
}

.header-contact {
    font-style: normal;
    text-align: right;
    margin-left: auto;
}

.header-contact__phone {
    color: inherit;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
}

.header-contact__time-link {
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}