.header {
    background-color: #4b73b5;
    color: #ffffff;
    margin-bottom: 13px;
    font-weight: bold;
}

.header .container {
    height: 77px;
    align-items: center;
}

.logo__title {
    position: absolute;
    left: -9999px;
}

.header-contact {
    font-style: normal;
    text-align: right;
    margin-left: auto;
}

.header-contact__phone {
    color: inherit;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
}

.header-contact__time {
    line-height: 15px;
    position: relative;
    color: #221f1f;
 }

.header-contact__time-link {
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.header-contact__shedule {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 150%;
    right: -9999px;
    width: 140px;
    padding: 18px 11px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 3px rgba(203, 210, 224, .5);
    color: #221f1f;
    text-align: center;
}

.header-contact__time:hover .header-contact__shedule {
    right: 0px;
    /*top: 0;*/
}

.header-contact__shedule-on {
    font-size: 13px;
    font-weight: bold;
    font-weight: 400;
    color: #3366cc;
}

.header-contact__shedule-off {
    font-size: 13px;
    font-weight: 300;
    color: #000000;
}

