.socials {
    margin-top: 30px;
}

.socials__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0;
    padding: 0 55px;
}

.socials__item-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 9px;
}

.socials__item-link::after {
    content: "";
    background-image: url("../img/icons/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.socials__item-link--vk:after{
    width: 14px;
    height: 8px;
    background-position: -374px -10px;
}

.socials__item-link--fb:after {
    width: 6px;
    height: 13px;
    background-position: -10px -10px;
}
.socials__item-link--google:after {
    width: 15px;
    height: 9px;
    background-position: -116px -10px;
}
.socials__item-link--twitter:after {
    width: 11px;
    height: 9px;
    background-position: -343px -10px;
}
.socials__item-link--mail:after {
    width: 12px;
    height: 9px;
    background-position: -151px -10px;
}

.socials__item-link:hover {
    background-color: #ABCDEF;
    border-radius: 50%;
    transition: background-color .5s;
}

.social__item-logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.socials_aside {
    text-align: center;
}

.socials_aside .socials__title {
    font-size: 14px;
}

.socials__title {
    font-weight: 700;
    margin-bottom: 5px;
}

